@page
@model Flexi_Arm.Areas.Communication_Robot.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bras_Robot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bras_Robot.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bras_Robot.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bras_Robot.Ip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bras_Robot.Ip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bras_Robot.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bras_Robot.Port)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bras_Robot.Modele_Robot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bras_Robot.Modele_Robot)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bras_Robot?.Id_Robot">Edit</a> |
    <a asp-page="./Index">Revenir à la liste</a>
</div>
