@page
@model Flexi_Arm.Areas.Communication_Robot.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bras_Robot[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bras_Robot[0].Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bras_Robot[0].Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bras_Robot[0].Modele_Robot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bras_Robot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele_Robot)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id_Robot">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id_Robot">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id_Robot">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
