
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center>
    <img class="card-img-top logo" src="~/docs/Logo.svg" style="height: 250px; width: auto;" alt="Card image cap">
    </center>
    <div class="card1">
        <div class="card1-body">
            <div class="text1-center">
                <h2 class="card1-title">Recette chargée : @Model</h2>
            </div>
        </div>
    </div>
</div>
<!-- HTML !-->
@*/*TitreRecetteId*/*@
<style>

    .card1 {
        box-shadow: 0 4px 8px 0 #004087;
        transition: 0.3s;
        border-radius: 50px;
        background-color: #004087;
        /* Ajout de l'animation de rotation */
        animation: rotation 5s infinite linear;
    }

    /* Animation de rotation */
    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: scale(1.01)
        }
        100% {
            transform: scale(1)
        }
    }

    .card1:hover {
        box-shadow: 0 8px 16px 0 #004087;
        /* Ajout de l'effet de zoom */
        transform: scale(1.05); 
    }

    .card1-body {
        padding: 20px;
    }

    .text1-center {
        text-align: center;
    }

    .card1-title {
        color: white;
        font-weight: 800;
        font-family: Arial, sans-serif;
        /* Ajout de l'effet de texte brillant */
    }
</style> 

@*/*Logo*/*@
<style>
    .logo-container {
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .logo {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease;
        
    }

        .logo:hover {
            transform: scale(0.95) rotate(2deg);
        }

    .logo-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
        border-radius: 50%;
    }

</style>

<br />
<hr />
<br />

<div class="card">
    <div class="card-body">
        <div class="container" width="100%">
            <center>
                <div class="row">
                    <div class="col-lg-4">

                            <div class="card-body b">
                                @using (Html.BeginForm("HandleButtonOn", "Home"))
                                {
                                <button id="btnLoad" type="submit" name="ButtonOn" class="button-82-pushable" value="1" role="button">
                                    <span class="button-82-shadow"></span>
                                    <span class="button-82-edge"></span>
                                    <span class="button-82-front text">
                                        Chargement Recette
                                    </span>
                                </button>
                                }
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body b" >
                            @using (Html.BeginForm("HandleButtonAcq", "Home"))
                            {
                                <button type="submit" name="ButtonAcq" class="button-83-pushable" value="1" role="button">
                                    <span class="button-83-shadow"></span>
                                    <span class="button-83-edge"></span>
                                    <span class="button-83-front text">
                                        Redémarer L'App
                                    </span>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body b">
                            @using (Html.BeginForm("HandleButtonOff", "Home"))
                                {
                                <button type="submit" name="ButtonOff" class="button-84-pushable" value="1" role="button">
                                    <span class="button-84-shadow"></span>
                                    <span class="button-84-edge"></span>
                                    <span class="button-84-front text">
                                        Eteindre L'App
                                    </span>
                                </button>
                                }
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-8">
                    <div class="card-body">
                        <button class="btn btn-light btn-lg " onclick="location.href='@Url.Action("Configuration","Home")'"> >>>Configuration de la machine<<< </button>
                    </div>
                </div>
                <div class="progress" style="display: none;" id="myProgress">
                    <div class="progress-bar" role="progressbar" id="myBar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
<br />
<form method="post" action="@Url.Action("Logs", "Configuration")">
    <input type="submit" value="Voir les logs" class="btn-submit" />
</form>

<style> 
    .btn-submit {
        font-size: 16px;
        color: #fff;
        background-color: #007BFF;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .btn-submit:hover {
            background-color: #0056b3;
        }

        .btn-submit:active {
            background-color: #004085;
        }
</style>
<script>
$(document).ready(function() {
    $("#btnLoad").click(function(){
        $("#myProgress").show();
        var width = 0;
        var id = setInterval(frame, 50); // 50ms * 100 = 5s
        function frame() {
            if (width >= 100) {
                clearInterval(id);
                $("#myProgress").hide();
            } else {
                width++;
                $("#myBar").css("width", width + '%');
            }
        }
    });
});
</script>

@*Notification Démarage*@
@if (TempData["MessageReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["Messagereu"]
    </div>
    TempData["MessageReu"] = null;

}

@*Notification Acquitement*@
@if (TempData["AcquitementReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["AcquitementReu"]
    </div>
    TempData["AcquitementReu"] = null;
}

@*Notification Extinction*@
@if (TempData["ExctinctionReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["ExctinctionReu"]
    </div>
    TempData["ExtinctionReu"] = null;

}

@if (TempData["Messagefail"] != null)
{
    <div class="alert alert-warning">
        <strong>L'envoi du message a échoué.</strong> @TempData["Messagefail"]
    </div>
}
