
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Flexi-Arm</h1>
</div>
<!-- HTML !-->

<div class="card">
    <div class="card-body">
        <div class="container" width="100%">
            <center>
                <div class="row">
                    <div class="col-lg-4">

                            <div class="card-body b">
                                @using (Html.BeginForm("HandleButtonOn", "Home"))
                                {
                                <button type="submit" name="ButtonOn" class="button-82-pushable" value="1" role="button" >
                                    <span class="button-82-shadow"></span>
                                    <span class="button-82-edge"></span>
                                    <span class="button-82-front text">
                                        Démarrer
                                    </span>
                                </button>
                                }
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body b" >
                            @using (Html.BeginForm("HandleButtonAcq", "Home"))
                            {
                                <button type="submit" name="ButtonAcq" class="button-83-pushable" value="1" role="button">
                                    <span class="button-83-shadow"></span>
                                    <span class="button-83-edge"></span>
                                    <span class="button-83-front text">
                                        Acquitement
                                    </span>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body b">
                            @using (Html.BeginForm("HandleButtonOff", "Home"))
                                {
                                <button type="submit" name="ButtonOff" class="button-84-pushable" value="1" role="button">
                                    <span class="button-84-shadow"></span>
                                    <span class="button-84-edge"></span>
                                    <span class="button-84-front text">
                                        Eteindre
                                    </span>
                                </button>
                                }
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-8">
                    <div class="card-body">
                        <button class="btn btn-light btn-lg " onclick="location.href='@Url.Action("Configuration","Home")'"> >>>Configuration de la machine<<< </button>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
<br />
<form method="post" action="@Url.Action("Logs", "Configuration")">
    <input type="submit" value="Voir les logs" />
</form>

@*Notification Démarage*@
@if (TempData["MessageReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["Messagereu"]
    </div>
    TempData["MessageReu"] = null;

}
@*Notification Acquitement*@
@if (TempData["AcquitementReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["AcquitementReu"]
    </div>
    TempData["AcquitementReu"] = null;

}
@*Notification Extinction*@
@if (TempData["ExctinctionReu"] != null)
{
    <div class="alert alert-success">
        <strong>Message reçu: </strong> @TempData["ExctinctionReu"]
    </div>
    TempData["ExtinctionReu"] = null;

}

@if (TempData["Messagefail"] != null)
{
    <div class="alert alert-warning">
        <strong>L'envoi du message a échoué.</strong> @TempData["Messagefail"]
    </div>

}
