@page
@model Flexi_Arm.Areas.Communication_Camera.Pages.IndexModel

@{
    ViewData["Title"] = "Tableau de bord de la Caméra Flexi-Arm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
            <p>
                Bienvenue sur le tableau de bord Flexi-Arm. Ici, vous pouvez gérer vos caméras.
            </p>
        </div>
        <div class="col text-end">
            <a asp-page="Create" class="btn btn-primary">Rajouter une nouvelle caméra</a>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Camera[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.Camera[0].Ip)</th>
                <th>@Html.DisplayNameFor(model => model.Camera[0].Port)</th>
                <th>@Html.DisplayNameFor(model => model.Camera[0].Modele_Camera)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Camera)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ip)</td>
                    <td>@Html.DisplayFor(modelItem => item.Port)</td>
                    <td>@Html.DisplayFor(modelItem => item.Modele_Camera)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id_Camera" class="btn btn-warning btn-sm">Editer</a>
                        <a asp-page="./Details" asp-route-id="@item.Id_Camera" class="btn btn-info btn-sm">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id_Camera" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
